<ion-view view-title="Doenca">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Data*</span>
        <ionic-datepicker idate="date" title="titleData" callback="callbackDate">
          <button class="button button-block button-positive"> {{ date | date:'dd - MM - yyyy' }} </button>
        </ionic-datepicker>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Hora*</span>
        <ionic-timepicker etime="hora" format="slots.format" step="slots.step" callback="callbackTime" >
          <button class="button button-block button-positive"> {{ hora * 1000 | date:'HH:mm':'UTC' }} </button>
        </ionic-timepicker>

      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome*</span>
        <input type="text" placeholder="Nome da doença" ng-model="doenca.nome" ng-required >
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Sintomas*</span>
        <input type="text" placeholder="Sintomas percebidos" ng-model="doenca.sintomas">
      </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Tratamento*</span>
            <input type="text" placeholder="Tratamento aplicado" ng-model="doenca.tratamento">
        </label>
    </div>
    <button class="button button-block button-balanced" ng-click="save()">
      Salvar
    </button>
    <button class="button button-block button-default" ng-click="clear()">
      Limpar
    </button>
  </ion-content>
</ion-view>
